/* Slide */
.mainSlider {
  padding: 0;
  max-width: 100%;

  .carousel .item {
    height: 100%;
  }

  .carousel-indicators{
    @media screen and (max-width: 768px){
      display: none;
    }
  }

  .item img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
  }
}
